body {
    background-color: white;
    color: black;
}

.folder, .up {
    background: rgba(0,0,0,.1);
}

.file {
    background: rgba(0,0,0,.2);
}

a, a:link {
    color: black;
}

a:visited {
    color: #555;
}
